/*
These codes was made based of one of my old order and the original creator is Jayraydee and you can find him @Jayraydee on twitter for your custom designs
I hereby grant to The Seller the right to use and publish images, graphics,
or media to further promote their services, including portfolio, web site, display, advertisement, and editorial use
*/
/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
    background: url(LatestUpdatedNewbaseWithLTRT.png);
    height: 658px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
    background: url(LatestUpdatedNewbaseWithLTRT.png);
}

.xbox.disconnected {
    background: url(disconnected.png);
    height: 630px;    
    width: 750px;
    background-repeat:no-repeat;
}

.xbox.disconnected div {
    display: none;
}

.xbox .triggers {
    width: 446px;
    height: 125px;
    position: absolute;
    left: 158px;
    top: 4.5px;
}

.xbox .trigger {
    width: 750px;
    height: 650px;
    background: url(https://imgur.com/tYCYuOf.png);
    opacity: 0;
}

.xbox .trigger.left {
    background-position: 0px 1px;
    width: 125px;
    height: 136px;
    left: -26px;
    top: -7px;
    position: absolute;
}

.xbox .trigger.right {
    background-position: 113px 1px;
    width: 125px;
    height: 135px;
    right: -26px;
    top: -7px;
    position: absolute;
    transform: rotateY(0deg);
}

.xbox .bumper {
    width: 171px;
    height: 60px;
    background: url(UpdatedBumper.svg);
    opacity: 0;
}

.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 104px;
    top: 155px;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
    position: absolute;
    width: 171px;
    height: 62px;
    left: 3px;
    top: 1px;
}

.xbox .bumper.right {
    float: right;
    position: absolute;
    width: 171px;
    height: 62px;
    left: 367px;
    transform: rotateY(190deg);

}

.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 306px;
}

.xbox .back, .xbox .start {
    background: url(start-select.png);
}

.xbox .back.pressed {
    background-position: -3.5px 0px;
    top: 24px;
    left: 0px;
    position: absolute;
}

.xbox .start.pressed {
    background-position: 36px 0px;
    top: 24px;
    left: 107.8px;
    position: absolute;
}

.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 212px;
    left: 489px;
}

.xbox .button {
    position: absolute;
    background: url(abxy.png);
    width: 49px;
    height: 60px;
}

.xbox .button.pressed {
    background-position-y: -52.9px;
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0px 0px;
    top: 108px;
    left: 54px;
}

.xbox .b {
    background-position: -49px 0px;
    top: 56px;
    left: 102px;
}

.xbox .x {
    background-position: -101px 0px;
    top: 57px;
}

.xbox .y {
    background-position: 49px 0px;
    left: 54px;
    top: 6px;
}

.xbox .sticks {
    position: absolute;
    width: 371px;
    height: 196px;
    top: 239px;
    left: 144px;
}

.xbox .stick {
    position: absolute;
    background: url(newstickBLACKandORANGE.png);
    background-position: -108px 0px;
    height: 105px;
    width: 100px;
}

.xbox .stick.pressed {
    background-position: -2px 0px;
}

.xbox .stick.left {
    top: 10px;
    left: -11px;
}

.xbox .stick.right {
    top: 126px;
    left: 279px;
}

.xbox .dpad {
    position: absolute;
    width: 104px;
    height: 104px;
    top: 345px;
    left: 223px;
}
.xbox .face {
    background: url(OrangeDpad.png);
    position: absolute;
    top: -120px;
    left: -55px;
    opacity: 0;
}
.xbox .face.pressed {
    opacity: 1;
}
.xbox .face.up {
    background-position: -50px 0px;
    left: 27px;
    top: 14.5px;
    width: 55px;
    height: 50px;
}
.xbox .face.down {
    background-position: 0px 0px;
    left: 30px;
    top: 99px;
    width: 55px;
    height: 50px;
}

.xbox .face.left {
    background-position: 0px -50px;
    left: -10.5px;
    top: 57px;
    width: 55px;
    height: 50px;
}
.xbox .face.right {
    background-position: -50px -50px;
    left: 65.5px;
    top: 57.5px;
    width: 55px;
    height: 55px;
}

.xbox .quadrant {
    position: absolute;
    background: url(player-n.png);
    height: 45px;
    width: 45px;
    top: 258px;
    left: 354px;
    z-index: 0;
}

/*END Xbox One Controller Styling*/